.contact .container .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
  }
  .contact .content .image-box {
    max-width: 50%;
    margin-left: 1.5rem;
    margin-bottom: 1.5rem;
  }
  .contact .content .image-box img {
    width: 100%;
    height: 25rem;
    position: relative;
  }
  .contact .content form {
    width: 45%;
    margin-right: 3.5rem;
  }
  #contact-form .form-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .form-group .field {
    height: 50px;
    display: flex;
    position: relative;
    margin: 1rem;
    width: 100%;
  }
  #contact-form i {
    position: absolute;
    top: 50%;
    left: 18px;
    color: rgb(51, 51, 51);
    font-size: 17px;
    pointer-events: none;
    transform: translateY(-50%);
  }
  #contact-form .field input,
  #contact-form .message textarea {
    width: 100%;
    height: 90%;
    outline: none;
    padding: 0 16px 0 48px;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    border-radius: 5px;
    background: #f3f4f6;
  }
  .field input::placeholder,
  .message textarea::placeholder {
    color: rgb(51, 51, 51);
  }
  .field input:focus,
  .message textarea:focus {
    padding-left: 47px;
    border: 2px solid rgb(115, 3, 167);
  }
  .field input:focus ~ i,
  .message textarea:focus ~ i {
    color: rgb(115, 3, 167);
  }
  #contact-form .message {
    position: relative;
    margin: 1rem;
    width: 100%;
  }
  form .message i {
    top: 25px;
    font-size: 20px;
    left: 15px;
  }
  form .message textarea {
    min-height: 130px;
    max-height: 230px;
    max-width: 100%;
    min-width: 100%;
    padding: 12px 20px 0 48px;
  }
  form .message textarea::-webkit-scrollbar {
    width: 0px;
  }
  form .button-area {
    display: flex;
    flex-direction: row-reverse;

  }
  .button-area button{
    border: none;
  }
  .heading {
    font-size: 2.5rem;
    display: flex;
    justify-content: center;
    font-weight: 700;
    margin-top: 20px;
  }