@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/* hero-section-*/
header {
  padding: 50px var(--padding-inline-section);
}
.header-section {
  justify-content: center;
  gap: 100px;
}
.header-left {
  max-width: 40vw;
}
.header-left h1 {
  margin-top: 20px;
  line-height: 8vh;
  margin-bottom: 20px;
}
.header-left h3 {
  margin-bottom: 20px;
}

.header-right img {
  width: 100%;
  height: 70vh;
  filter: drop-shadow(0 15px 10px rgba(152, 123, 73, 0.6));
}
.get-started-button {
  margin-top: 20px;
}
.header-left img {
  height: 45px;
  width: 45px;
}
.header-left h1 span {
  color: var(--accent-color);
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  text-transform: uppercase;
}
